

<ion-content>
  <ion-grid class="login-grid">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <h1 class="title">¡Bienvenido!</h1>
        <ion-label position="stacked">Email *</ion-label>
        <ion-item>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-label position="stacked">Contraseña *</ion-label>
        <ion-item>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>


        <ion-button expand="block" class="login-button" (click)="onLogin()">Iniciar sesión</ion-button>
        <a class="forgot-password" href="#">¿Olvidaste la contraseña?</a>
        <p class="first-time">¿Es tu primera vez? <a (click)="goToRegister()">Regístrate</a></p>

        <div class="social-login">
          <p>o conéctate con</p>
          <ion-icon name="logo-google" class="social-icon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Gracias por usar nuestra aplicación</ion-title>
  </ion-toolbar>
</ion-footer>